/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Charlie Reset */
*,
*:before,
*:after {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
a {
  text-decoration:none;
}
a:hover, a:focus {
  text-decoration: underline;
}
b, strong {
  font-weight:bold;
}
em, i {
  font-style:italic;
}
input {
  -webkit-appearance:none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}

/* Wedding site styles */

/* #c9a0dc = wisteria, #6ba91a = green */

body {
  background:#f1f1f1;
  color:#222;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color:#6ba91a;
}
a:hover, a:focus {
  color:#c9a0dc;
}
#header {
  padding:40px 0 20px;
  text-align:center;
}
#header h1 {
  font-family: Oswald, Impact, "Arial Narrow", Arial, sans-serif;
  font-size:24px;
  line-height:30px;
  padding:0 20px;
}
ul.page-nav {
  padding:20px;
}
ul.page-nav li {
  border-left:1px solid #666;
  display:inline-block;
  font-size:16px;
  padding:0 15px;
}
ul.page-nav li:first-child {
  border-left:none;
}
ul.page-nav a {
  color:#c9a0dc;
  display:block;
  font-weight:bold;
  padding:5px;
}
ul.page-nav a:hover,
ul.page-nav a:focus {
  background:#c9a0dc;
  color:#fff;
}
.hero img {
  display:block;
  height:auto;
  margin:0 auto;
  max-width:100%;
}
#main {
  margin:0 auto;
  max-width:842px;
  padding:0 20px;
  width:100%;
}
#main hr {
  border-top:1px solid #666;
  border-bottom:none;
  margin:0 auto 40px;
  max-width:320px;
  width:100%;
}
.section {
  background:#fff;
  border:1px solid #ddd;
  font-size:16px;
  line-height:20px;
  margin:0 0 40px;
  padding:0 20px;
}
.section h2 {
  color:#666;
  font-family: Oswald, Impact, "Arial Narrow", Arial, sans-serif;
  font-size:20px;
  padding:40px 0 0;
}
.section ul {
  padding:20px 0;
}
.section ul li {
  border-top:1px solid #ccc;
  padding:20px 0;
}
.section ul strong {
  color:#666;
}
.section ul li:first-child {
  border-top:none;
}
.section .image {
  margin:0 -20px;
}
.section .image img {
  display:block;
  height:auto;
  max-width:100%;
}

/* Mobile */
@media screen and (max-width:640px) {
  #header {
    padding:20px 0;
  }
  #header h1 {
    font-size:20px;
    line-height:28px;
  }
  ul.page-nav {
    padding:15px;
  }
  ul.page-nav li {
    border-left:none;
    display:block;
    font-size:15px;
  }
  #main {
    padding:0 10px;
  }
  #main hr {
    margin-bottom:20px;
  }
  .section {
    font-size:15px;
    margin:0 0 20px;
    padding:0 15px;
  }
  .section h2 {
    font-size:18px;
    padding:20px 0 0;
  }
  .section .image {
    margin:0 -15px;
  }
  .section ul {
    padding:15px 0;
  }
  .section ul li {
    padding:15px 0;
  }
}